<form class="main-items">
    <h2>Form</h2>
    <div id="form-first-name">
        <label for="first-name">First Name:</label>
        <input id="first-name" name="first-name" type="text">
    </div>
    <div id="form-last-name">
        <label for="last-name">Last Name:</label>
        <input id="last-name" name="last-name" type="text">
    </div>
    <button id="query-btn" type="submit">Query</button>
</form>