<nav>
    <header>
        <h1><%= appName %></h1>
    </header>
    <ol>
        <li>
            <button id="load-btn">Load Data</button>
        </li>
        <li>
            <button id="clear-btn">Clear Data</button>
        </li>
    </ol>
</nav>